<div id="<%= dom_id new_feature_jit %>">
  <p>
    <strong>Content:</strong>
    <%= new_feature_jit.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= new_feature_jit.user_id %>
  </p>

</div>
